
body {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 100%;
}
a:hover{
	color: #412D86;
	text-shadow: none;
	position: relative;
	top: 1px;
	left: 1px;
	transition: color 2s;
}

.wrapper {
	width:100%;
	max-width: 600px;
	margin: 0 auto;
}

.responsiveimg {
	width: 100%;
	max-width: 600px;
	transition: width 2s, height 2s;
}

.responsiveimg:hover {
	width:110%;
	height:110%;
}

#headerimg {
	width:100%;
	max-width: 300px;
	float: right;
	border-style: inset;
	border-color: orange;

}

@media all and (max-width:500px){
	#headerimg {
		float: none;
	}
}

.site-header {
	width: 100%;
}
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}