body {
	font-family: 'Helvetica', serif;
	background-image: url('../img/natalya-fred/abstract-bubbles-ppt-backgrounds-powerpoint.jpg')

}

.wrapper {
	width: 600px;
	margin: 50px auto;
}

h1 {
	font-size: 2em;
	font-weight: bold;	
	text-shadow: 1px 2px #00FFFF;
 	font-family: 'Finger Paint';
}

a {
	text-decoration: none;
}

a:hover {
	color: #00FFFF;
	text-shadow: none;
	position: relative;
	top: 1px;
	left: 1px;
}

h3 {
	margin-top: 50px;
}

img {
	height: 450px;
}

video {
	height: 450px;
}
.status-title {
	font-weight: bold;
}
.avatar {
	float: right;
	margin-left: 10px;
	width: 300px;
	border: solid #F5F6CE;
	border-width: 0px 0 20px 10px;
}

.site-header {
	padding-bottom: 20px;
}

span.fact {
	font-family: 'Finger Paint';
}

.site-footer {
	margin-top: 50px;
	border-top: 3px dashed #aaa;
	width: 800px;
	height: auto;
	margin: 0 auto;
	font-family: 'Finger Paint';

}